#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;

  padding: 6rem 2rem 0rem;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  margin: 0 2rem;

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    background: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: var(--white-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }

  // circles with different height & width

  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(2) {
      width: 400px;
      height: 400px;
    }

    div:nth-child(3) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(1) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  img {
    width: 50%;
    
    object-fit: contain;
    z-index: 1;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
/* Resume Section Wrapper */
.app__resume {
  flex: 1;
  width: 100%;
  flex-direction: column;
  margin-top: 4rem;
}

/* Resume Card (similar to testimonial card) */
.app__resume-card {
  width: 70%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin: 0 auto;

  @media screen and (max-width: 850px) {
    width: 90%;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 1.5rem;
  }
}

/* Section blocks inside card */
.resume-block {
  margin-bottom: 2rem;

  h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--secondary-color);
  }

  .resume-item {
    margin-bottom: 1rem;

    h4 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.2rem;
    }

    p {
      font-size: 0.9rem;
      color: var(--gray-color);
      margin: 0;
    }

    small {
      font-size: 0.85rem;
      color: var(--black-color);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      background: #f7f7f7;
      display: inline-block;
      margin: 0.3rem;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      font-size: 0.9rem;
      color: var(--black-color);
      font-weight: 500;
      transition: background-color 0.3s ease;
      &:hover {
      background-color: var(--secondary-color);
      color: #ffffff;
    }
    }
  }
  

}

/* Download Resume Button */
.resume-btn {
  margin-top: 1rem;
  padding: 0.8rem 1.8rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-decoration: none;
  color: #fff;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  svg {
    font-size: 1.2rem;
  }

  &:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #2575fc, #6a11cb);
  }

  &:active {
    transform: scale(0.95);
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
